"*":
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin/elixir"
    erlangHome: "/usr/local/lib/elixir/bin"
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "atom-python-debugger"
      "python-iresolve"
      "python-isort"
      "script"
    ]
    ignoredNames: [
      ".git *.pyc"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
  editor:
    fontSize: 11
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 4
    tabType: "soft"
  "exception-reporting":
    userId: "f37cb876-c9b0-fc5f-a24e-56f2b4a347f5"
  "go-plus":
    panelDisplayMode: "closed"
  gofmt:
    formatTool: "goreturns"
  "gometalinter-linter": {}
  linter:
    errorPanelHeight: 68
  "linter-elixir-credo":
    executablePath: "/usr/local/bin/mix"
    flags: "--strict"
  "linter-elixirc":
    mixPath: "/usr/local/bin/mix"
  "linter-golinter": {}
  "linter-gotype": {}
  "linter-govet":
    executablePath: "/usr/local/go/bin/go"
  "linter-shellcheck": {}
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "plantuml-viewer": {}
  "tree-view":
    hideIgnoredNames: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
".elixir.text":
  editor:
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
